<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Sala</title>
</head>
<body>
    <h1>Sala</h1>

    <p style="color: red;" th:if="${erroreValidazione}">
        Controlla i campi obbligatori: tutti i valori devono essere validi.
    </p>

    <form th:action="@{/admin/sale}" method="post">
        <input type="hidden" name="id" th:value="${sala.id}">

        <label>Nome: <input type="text" name="nome" th:value="${sala.nome}"></label><br>
        <label>Indirizzo: <input type="text" name="indirizzo" th:value="${sala.indirizzo}"></label><br>
        <label>Capienza: <input type="number" name="capienza" th:value="${sala.capienza}"></label><br>

        <button type="submit">Salva</button>
    </form>

    <p><a th:href="@{/admin/sale}">Annulla</a></p>
</body>
</html>