<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Movie Festival</title>
</head>
<body>
    <h1>Benvenuto su Movie Festival</h1>
    <ul>
        <li><a th:href="@{/festivals}">Elenco festival</a></li>
        <li><a th:href="@{/movies}">Elenco film</a></li>
        <li><a th:href="@{/screenings}">Programma proiezioni</a></li>
    </ul>

    <div sec:authorize="!isAuthenticated()">
        <p><a th:href="@{/login}">Accedi</a> o <a th:href="@{/register}">registrati</a></p>
    </div>

    <div sec:authorize="isAuthenticated()">
        <p>Sei connessa come <span sec:authentication="name">username</span>.</p>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Esci (logout)</button>
        </form>
    </div>
</body>
</html>