<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Elenco Film</title>
</head>
<body>
    <h1>Film</h1>

    <div th:each="film : ${films}">
        <h2>
            <a th:href="@{/movie/{id}(id=${film.id})}" th:text="${film.titolo}">Titolo</a>
        </h2>
        <p th:text="${film.genere} + ' - ' + ${film.anno}">Genere - Anno</p>
    </div>

    <p><a th:href="@{/}">Torna alla home</a></p>
</body>
</html>